.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
.env
.env.*
!.env.example
public/hot
public/storage
npm-debug.log
docker-compose.yml
